nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      h1
      p Welcome to

    div
      input(type='hidden', name='_id', value='')

    .form_group
      input#gift(value='', type='text', name='title', placeholder='Task', required='')
    br

    .form-group
      textarea(name='description', placeholder='Description')

    .form_group
      label(for='Priority') Priority Level

      select#priority(name='priority')
        option(value='1') Red (High)

        option(value='2') Yellow

        option(value='3') Blue

    .form_group
      label(for='due_date') Due Date

      input(type='date', name='due_date')

    div
      label.form_group(for='complete') Check for Complete

      input(type='checkbox', name='complete')
    br

    .button
      button(type='submit') Save



