table.table.table-striped
    thead
        tr
          th Task

          th Details

          th Priority

          th Due Date

          th Kill

    tbody
        names
          tr
            td

            td

            td

            td

            td
              button.deleteButton(id='name._id') Complete

              br

              button.editButton(id='name._id') Edit

